body{
    background-color: rgb(5,32,22);
    color: white;
    text-align: center;
    width: 100%;
}
#pojemnik{
    width: 81%;
    height: 600px;
    background-color: rgb(17, 72, 52);
    float: left;
    padding:10px;
}
.color{
    width: 50px;
    margin: 5px;
    height: 50px;
    background-color: bisque;
    color: black;
    float: left;
    text-align: center;
    box-shadow: 0 0 0 0px rgb(162, 202, 216);
}
.color:hover{
    box-shadow: 0 0 0 2px rgb(162, 202, 216);
}

#wynik{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.slot{
    width: 90%;
    height: 60px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    line-height: 50px;
    clear: both;
    display: flex;
    justify-content: center;
}

#menu{
    background-color: rgb(17, 72, 52);
    width: 15%;
    height: 600px;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

b{
    font-size: 24px;
}

input[button]{
    color: blue;
}

#end{
    width: 500px;
    height: 300px;
    font-size: 32px;
    margin: 5px;
    background-color: rgb(44, 116, 68);
    box-shadow: 12px 12px 2px 1px rgba(13, 36, 21, 0.4) ;
    position: absolute;
    top: 100px;
    left: 40%;
    animation: fromTopToMiddle 1.5s 1;
    display: none;
}

@keyframes fromTopToMiddle {
    from{top: 0px; opacity: 0%;} 
    to{top: 100px; opacity: 100%;}
}

img{
    width: 30px;
    height: 30px;
    margin: 4px;
}